@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 80%;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 30px;
}

img {
  width: 15%;
}
.part1 {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

nav li {
  display: inline-block;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  color: black;
}

.link1,
.link2 {
  margin-right: -2px;
}

nav a:link,
a:visited {
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav a:hover,
a:active {
  background-color: darkslategrey;
}

.ul1 li {
  list-style: none;
  margin-right: 30px;

  flex-grow: 1;
}
.ul1 ul {
  display: flex;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
  border: 2px solid black;

  padding: 50px 50px 50px 50px;
  margin-top: 50px;
}

/* .date {
  margin-left: 150px;
} */

.girl,
.video,
.meme,
.audio,
.boy {
  width: 350px;
  height: 300px;
  margin-top: 30px;
  border-top: solid 2px black;
  padding: 0 0 0 40px;
}

.audio {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 100px 40px;
}

.link3 a,
.link4 a {
  color: black;
  /* text-decoration: none; */
}

.link3,
.link4 {
  list-style: none;
}

footer ul {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin-top: 200px;
  border-top: 1px black solid;
  padding: 20px;
}

.link4 {
  margin-right: 420px;
  margin-left: -100px;
}

.link3 {
  margin-left: -300px;
}

.copy {
  list-style: none;
  /* margin-left:-500px;  */
}

.pp {
  border-radius: 50%;
  border: black 2px solid;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
  margin-top: 100px;
  font-size: 30px;

  /* padding: 20px; */
}

.info ul li {
  list-style: none;
  text-align: center;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: space-around;
}
